*{
	margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
}


/*-----------------------------------*\
                NAV
\*-----------------------------------*/

.header{
    	min-height: 100vh;
   	    width: 100%;
    	background-image: url(logo.png);
    	background-position: center;
    	background-size: cover;
    	position: relative;
}

.header-outline{
    	min-height: 100vh;
   	    width: 100%;
    	background-image: url(Theme.png);
    	background-position: center;
    	background-size: cover;
    	position: relative;
}

.header-team{
    	min-height: 100vh;
   	    width: 100%;
    	background-image: url(Members.png);
    	background-position: center;
    	background-size: cover;
    	position: relative;
}

nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
}
.logo{
        width:  120px;
        cursor: pointer;
        color: #679BFF;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        font-size: 29px; 
}
.nav-links{
        flex: 1;
        text-align: right;
}
.nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        font-weight: 600;
}
.nav-links ul li a{
        color: #FFD463;
        text-decoration: none;
        font-size: 20px;
}
.nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #679BFF;
        display: block;
        margin: auto;
        transition: 0.5s;
}
.nav-links ul li:hover::after{
        width: 100%;   
}
.text-box{
        width: 90%;
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
}
.text-box h1{
        font-size: 62px;
}

nav .fa{
        display: none;
}

@media(max-width: 900px){
    .text-box h1{
    font-size: 32px;
    }
    .nav-links ul li{
         display: block;
    }
    .nav-links{
        position: absolute;
        background: #fffff7;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #FFD463;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-----------------------------------*\
                LAYOUT
\*-----------------------------------*/
strong {
    font-weight: 500;
}

#bodyarea-div{
   	width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 90px;
   	line-height: 2.0;
    padding: 50px;
    background-color: #9ADDFF;
}

#bodyarea-div img {
    display: flex;
    max-width: 470px;
    float: left;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
}

#bodyarea-div h1{
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;	
}

#bodyarea-div p{
	color: #282828;
	font-size: 20px;
	font-weight: 300;
	line-height: 2.0;
	padding: 8px;
	margin-bottom: 10px;
	text-align: justify;
    margin-bottom: 50px;
}

#bodyarea-div a{
    display: grid;
    height: 58px;
    width: 240px;
    text-decoration: none;
    background-color: #679BFF;
    color: #FFFF;
    margin: auto;
    place-items: center;
    font-size: 25px;
    letter-spacing: 3px;
    border-radius: 27px;
    margin-left: 0px;
}

.add {
    width: 100%;
    margin: auto;
    text-align: center;
   	line-height: 2.0;
    padding: 20px;
    background-color: #B8B4AD;
    border-radius: 15px;
}

.add img {
    display: flex;
    max-width: 310px;
    float: right;
    padding: inherit;
}

.add h3{
	font-size: 28px;
	font-weight: 400;
	text-align: justify;
	margin-top: 30px;	
	margin-bottom: 20px;
    padding: inherit;
}



.topic{
   	width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 90px;
   	line-height: 2.0;
    padding: 50px;
    background-color: #FFC87F;
    border-radius: 15px;
}

.topic h1{
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;	
	margin-bottom: 10px;
}

.topic p{
	color: #282828;
	font-size: 22px;
	font-weight: 340;
	line-height: 2.0;
	padding: 8px;
	margin-bottom: 10px;
	text-align: justify;
}


/*-----------------------------------*\
               Video
\*-----------------------------------*/

.video{
    display: block;
    padding: 20px;
}

.video h1{
    text-align: left;
    color: #679BFF;
    padding: inherit;
    font-size: 50px;
}

.link{
    float: left;
    margin: 0 10px 1px 0;
    margin-right: 30px;
}

.video p{
    text-align: justify;
    font-size: 25px;
    margin: 5px 5px;
    font-weight: lighter;
}


/*-----------------------------------*\
            Stream Outline
\*-----------------------------------*/

.stream{
   	width: 100%;
    margin: auto;
    text-align: center;
   	line-height: 2.0;
    padding: 50px;
}

.stream img {
    display: flex;
    max-width: 490px;
    border-radius: 25px;
}

.stream h1{
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;	
	margin-bottom: 10px;
    color: #FFC87F;
}

.stream p{
	color: #282828;
	font-size: 20px;
	font-weight: 300;
	line-height: 2.0;
	padding: 8px;
	margin-bottom: 10px;
	text-align: justify;
}

.stream h3{
	font-size: 28px;
	font-weight: 400;
	text-align: left;
	margin-top: 10px;	
	margin-bottom: 10px;
}

/*-----------------------------------*\
            Brand Design
\*-----------------------------------*/

.design{
   	width: 100%;
    margin: auto;
    text-align: center;
   	line-height: 2.0;
    padding: 50px;
}

.design img {
    display: flex;
    max-width: 490px;
    border-radius: 25px;
    border: 1px solid black;
}

.design h2{
	font-size: 45px;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;	
	margin-bottom: 10px;
    color: #9ADDFF;
}

.design h3{
	font-size: 28px;
	font-weight: 400;
	text-align: left;
	margin-top: 10px;	
	margin-bottom: 10px;
}


/*-----------------------------------*\
                Team
\*-----------------------------------*/
        
.Members{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.Members h1{
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;	
	margin-bottom: 10px;
    color: #679BFF;
}

.Members p{
    margin-top: 20px;
    font-size: 30px;
}

.Members-col{
    flex-basis: 80%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Members-col img{
    width:80%;
    border-radius: 10px; 
}

.Members-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px){
    .row{
    flex-direction: column;
}
}


/*-------- ScrollUP -------*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #679BFF; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 25px;
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #282828; 
    border: 1px solid #282828;
    transition: 1s;
}

html {
    scroll-behavior: smooth;
}